.main-chat
  .main-top
    .main-top__group
      .main-top__group__name
        グループ名
      %ul.main-top__group__member-list
        %li
          Member：
        %li
          test
    = link_to "#", class: "main-top__edit" do
      = "Edit"
  .main-message-list
    .main-message-list__message
      %ul.main-message-list__message__user-name
        %li.user-name
          ユーザー名
        %li.day
          2020/06/18 00:00:00
      .main-message-list__message__sentence
        これは本文です
    .main-message-list__message
      %ul.main-message-list__message__user-name
        %li.user-name
          ユーザー名
        %li.day
          2020/06/18 00:00:00
      .main-message-list__message__sentence
        これは本文です
  .main-form
    .main-form__box
      .main-form__box__input
        = form_for [@group, @message] do |f|
          = f.text_field :text, class: 'type-message', placeholder: 'type a message'
          = f.label :image, class: 'image-icon'
            = icon('far', 'image')
            = f.file_field :image, class: 'image-file'
      = f.submit 'Send', class: 'main-form__box__send'