.main-chat
  .main-top
    .main-top__group
      .main-top__group__name
        = @group.name
      %ul.main-top__group__member-list
        %li
          Member：
        - @group.users.each do |user|
          %li.users
            = user.name
    = link_to edit_group_path(@group.id), class: "main-top__edit" do
      = "Edit"
  .main-message-list
    = render @messages
  .main-form
    = form_for [@group, @message] do |f|
      .main-form__box
        .main-form__box__input
          = f.text_field :body, class: 'type-message', placeholder: 'type a message'
          = f.label :image, class: 'image-icon' do
            = icon('far', 'image')
            = f.file_field :image, class: 'image-file'
        = f.submit 'Send', class: 'main-form__box__send'